body{
    background-color: tomato;
}
.HeaderFooter{
    background-color: aqua;
    width: 90%;
    margin: auto;
    height: 50px;
    text-align: center;

}
#carrosel{
    background-color: chartreuse;
    height: 200px;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    
}
#bannerCarrosel{
    width: 100%;
    height: 100%;
}
#containerMain{
    
     background-color: blue;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    margin: auto;
}
#containerCard{
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    
height: 220px;
gap: 10px;
}
.cards{
    border: solid 1px black;
    background-color: white;
    width: 250px;
    margin: auto;
}
.imgCard{
    width: 180px;
}