:root{
    --backcolor1: tomato;
    --color1: #DDA0DD;
    --color2: #EE82EE;
    --color3: #9370DB;
    --color4: #00FF00;

}
body{
    background-color: var(--backcolor1);
}
.HeaderFooter{
    display: flex;
    background-color: aqua;
    width: 90%;
    margin: auto;
    height: 70px;
    text-align: center; 

}
#menuContainer{
     display: flex;
    list-style: none;
    gap: 20px;
}
#imgLogo{
width: 93.5px;
}
.menu {
    border: solid 1px black;
    padding: 10px;
    background-color:var(--color1);
}
.menu:hover{
    background-color:var(--color2) ;
}
#menu a {
text-decoration: none;
}
#carrosel{
    background-color: chartreuse;
    height: 200px;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    
}
#bannerCarrosel{
    width: 100%;
    height: 100%;
}
#containerMain{
    
     background-color: blue;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    
}
#containerCard{
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    
align-items: center;
gap: 10px;
}
.cards{
    border: solid 1px black;
    background-color: white;
    width: 250px;
    margin: 0;
}
.imgCard{
    width: 180px;
}